<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>


</head>
<body>
<h1>Sample Application</h1>
<div ng-app="hrApp">
    <div ng-controller="MainController">
        <p>Enter your Name: <input type="text" ng-model="name"></p>
        <p>Hello <span ng-bind="name"></span>!</p>
    </div>
    <div ng-controller="DescriptionController">
        <div class="container">
            <div class="jumbotron" ng-show="descriptionShow" ng-hide="descriptionHide">
                <h1>{{title}}</h1>
                <p class="lead">
                    A simple demo application.
                </p>
                <p class="lead">
                    In this application we will use AngularJS framework.
                </p>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" role="button" ng-click="toggleDescriptionShow()">Show/Hide Description</a>
            </p>
            <div ng-controller="OtherController">
                <p>
                    $ScopeID: {{$id}}
                </p>
                <p>
                    Parent title is: {{title}}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" ng-click="setTitle()">Set Title</a>
                </p>
            </div>
        </div>

    </div>

    <div ng-controller="Operatii">
        <div>
            <li>Number 1: <input type="text" ng-model="x" /> </li>
            <li>Number 2: <input type="text" ng-model="y" /> </li>
            <li>Total <input type="text" value="{{total()}}"/></li>
            <li>Inmultire <input type="text" value="{{total2()}}"/></li>
            <li>Impartire <input type="text" value="{{total3()}}"/></li>
            <li>Scadere <input type="text" value="{{total4()}}"/></li>
        </div>
    </div>



    <div ng-include="'views/main.html'"></div>
    <div ng-include="'views/scopes.html'"></div>
</div>
<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/MainController.js"></script>
<script type="text/javascript" src="scripts/DescriptionController.js"></script>
<script type="text/javascript" src="scripts/ScopesController.js"></script>
<script type="text/javascript" src="scripts/MenuController.js"></script>
<script type="text/javascript" src="scripts/OtherController.js"></script>
<script type="text/javascript" src="scripts/Operatii.js"></script>
<script type="text/javascript" src="scripts/MenuController.js"></script>



</body>
</html>