<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>


<body>
<div ng-app="hrApp">
    <div ng-include="'colors.html'"></div>

    <!--TODO #5 add ng-view directive-->
    <div class="container" ng-view></div>

</div>

<div ng-controller="ColorsController">
    <input type="text" ng-change="onChange()" ng-model="myValue" />
    <p>S-a schimbat la culoarea {{color}} .</p>
</div>

<div ng-controller="FormsController">
    <form name="myForm">
        <input type="text" name="Persoana" ng-model="Date">
    </form>
</div>


<!--HINT: yellow is wrong -->
<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="Controllers/ColorsController.js"></script>
<script type="text/javascript" src="scripts/colors.html" ></script>
<script type="text/javascript" src="scripts/forms.html"></script>
<!--TODO: load javascript files like libraries or your own scripts-->

</body>
</html>