<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" ng-controller="ScopesController">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">First example</h3>
        </div>
        <div class="panel-body">
            <p>
        ScopeID: {{$id}}
    </p>
        <p>
            Type something: <input type="text" ng-model="firstVariable"/>
        </p>
        <p>
            Your input: {{firstVariable}}
        </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="resetFirstVariable()">Reset Input</a>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" ng-click="resetFirstVariable('something')">Set Input to Something</a>
        </p>
        </div>
    </div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Menu</h3>
    </div>
    <div class="panel-body">
        <div ng-include="'menu.html'"></div>
    </div>
</div>
        </p>
    </div>
</div>


</body>
</html>