<ul>
    <li>
        <p>
            ID: <input type="text">
        </p>
    </li>
    <li>
        <p>
        First Name: <input type="text">
        </p>
    </li>
    <li>
        <p>
            Last Name: <input type="text">
        </p>
    </li>
    <li>
        <p>
            Age: <input type="text">
        </p>
    </li>
</ul>

<button type="button" ng-click="back()">Back</button>
<button type="button" ng-click="reset()">Reset</button>
<button type="button" ng-click="save()">Save</button>
<button type="button" ng-click="show()">Show/Hide</button>

<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/controllers/MenuController.js"></script>
<script type="text/javascript" src="scripts/controllers/MainController.js"></script>
<script type="text/javascript" src="scripts/controllers/demo/RequestController.js"></script>
<script type="text/javascript" src="scripts/services/MenuServices.js"></script>
<script type="text/javascript" src="scripts/services/CommonResourcesFactory.js"></script>
<script type="text/javascript" src="scripts/controllers/EmployeeListController.js"></script>
<script type="text/javascript" src="scripts/controllers/EmployeeViewController.js"></script>
<script type="text/javascript" src="scripts/controllers/demo/MathController.js"></script>
<script type="text/javascript" src="scripts/services/demo/MathService.js"></script>
<script type="text/javascript" src="HideShow.js"></script>


<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>

<div>
    <p>
        <a class="btn btn-primary btn-lg" role="button" ng-click="toggleDescriptionShow()">Show/Hide Alternant</a>
    </p>
</div>